@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: url('./snow.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}